In [1]:
import pandas as pd
import tensorflow as tf

In [2]:
csv_file = tf.keras.utils.get_file('heart.csv', 
                                   'https://storage.googleapis.com/applied-dl/heart.csv',
                                   cache_dir='./')

In [3]:
df = pd.read_csv(csv_file)

In [4]:
df.describe().transpose()

          count        mean        std    min    25%    50%    75%    max
age       303.0   54.594059   9.016370   29.0   48.0   56.0   61.0   77.0
sex       303.0    0.676568   0.468560    0.0    0.0    1.0    1.0    1.0
cp        303.0    3.108911   1.028414    0.0    2.0    3.0    4.0    4.0
trestbps  303.0  131.785479  17.748338   94.0  120.0  130.0  140.0  200.0
chol      303.0  246.547855  52.175933  126.0  211.0  241.0  275.0  564.0
fbs       303.0    0.148515   0.356198    0.0    0.0    0.0    0.0    1.0
restecg   303.0    0.990099   0.988293    0.0    0.0    1.0    2.0    2.0
thalach   303.0  149.194719  23.173368   71.0  132.0  152.0  165.5  202.0
exang     303.0    0.326733   0.469794    0.0    0.0    0.0    1.0    1.0
oldpeak   303.0    1.057756   1.165025    0.0    0.0    0.8    1.6    6.2
slope     303.0    1.590759   0.617767    1.0    1.0    2.0    2.0    3.0
ca        303.0    0.683168   0.937773    0.0    0.0    0.0    1.0    3.0
target    303.0    0.273927   0.446710    0.0    0.0    0.0    1.0    1.0

In [5]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0

In [6]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal         object
target        int64
dtype: object

In [7]:
df['thal'] = pd.Categorical(df['thal'])
df['thal'] = df.thal.cat.codes

In [8]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,2,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,4,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [9]:
target = df.pop('target')

In [10]:
df.values.shape

(303, 13)

In [11]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

In [12]:
dataset

In [13]:
for feat, targ in dataset.take(5):
    print('Features: {}, Target: {}'.format(feat, targ))

Features: [ 63.    1.    1.  145.  233.    1.    2.  150.    0.    2.3   3.    0.
   2. ], Target: 0
Features: [ 67.    1.    4.  160.  286.    0.    2.  108.    1.    1.5   2.    3.
   3. ], Target: 1
Features: [ 67.    1.    4.  120.  229.    0.    2.  129.    1.    2.6   2.    2.
   4. ], Target: 0
Features: [ 37.    1.    3.  130.  250.    0.    0.  187.    0.    3.5   3.    0.
   3. ], Target: 0
Features: [ 41.    0.    2.  130.  204.    0.    2.  172.    0.    1.4   1.    0.
   3. ], Target: 0

In [14]:
tf.constant(df['thal'])

<tf.Tensor: shape=(303,), dtype=int8, numpy=
array([2, 3, 4, 3, 3, 3, 3, 3, 4, 4, 2, 3, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3,
       3, 4, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 4, 2, 4, 3, 4, 3, 4, 4,
       2, 3, 3, 4, 3, 3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 4,
       4, 2, 3, 3, 4, 3, 4, 3, 3, 4, 4, 3, 3, 4, 4, 3, 3, 3, 3, 4, 4, 4,
       3, 3, 4, 3, 4, 4, 3, 4, 3, 3, 3, 4, 3, 4, 4, 3, 3, 4, 4, 4, 4, 4,
       3, 3, 3, 3, 4, 3, 4, 3, 4, 4, 3, 3, 2, 4, 4, 2, 3, 3, 4, 4, 3, 4,
       3, 3, 4, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4,
       4, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 2,
       4, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 2, 2, 4, 3, 4, 2, 4, 3,
       3, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 2, 2, 4, 3, 4, 3, 2, 4, 3, 3, 2,
       4, 4, 4, 4, 3, 0, 3, 3, 3, 3, 1, 4, 3, 3, 3, 4, 3, 4, 3, 3, 3, 4,
       3, 3, 4, 4, 4, 4, 3, 3, 4, 3, 4, 3, 4, 4, 3, 4, 4, 3, 4, 4, 3, 3,
       3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 3, 2, 4, 4, 4, 4], dtype=int8)>

In [15]:
train_dataset = dataset.shuffle(len(df)).batch(1)

In [16]:
def get_compiled_model():
    model = tf.keras.Sequential([
      tf.keras.layers.Dense(10, activation='relu'),
      tf.keras.layers.Dense(10, activation='relu'),
      tf.keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(optimizer='adam',
                  loss='binary_crossentropy',
                  metrics=['accuracy'])
    return model

In [17]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

Epoch 1/15
WARNING:tensorflow:Layer dense is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because its dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

303/303 [==============================] - 0s 678us/step - loss: 3.1547 - accuracy: 0.5479
Epoch 2/15
303/303 [==============================] - 0s 623us/step - loss: 1.5833 - accuracy: 0.6139
Epoch 3/15
303/303 [==============================] - 0s 627us/step - loss: 1.1878 - accuracy: 0.6535
Epoch 4/15
303/303 [==============================] - 0s 677us/step - loss: 0.8766 - accuracy: 0.7030
Epoch 5/15
303/303 [==============================] - 0s 645us/step - loss: 0.7809 - accuracy: 0.7261
Epoch 6/15
303/303 [==============================] - 0s 819us/step - loss: 0.7283 - accuracy: 0.7063
Epoch 7/15
303/303 [==============================] - 0s 661us/step - loss: 0.6717 - accuracy: 0.7360
Epoch 8/15
303/303 [==============================] - 0s 638us/step - loss: 0.7070 - accuracy: 0.7063
Epoch 9/15
303/303 [==============================] - 0s 630us/step - loss: 0.5497 - accuracy: 0.7822
Epoch 10/15
303/303 [==============================] - 0s 659us/step - loss: 0.5299 - accuracy: 0.7888
Epoch 11/15
303/303 [==============================] - 0s 640us/step - loss: 0.5816 - accuracy: 0.7624
Epoch 12/15
303/303 [==============================] - 0s 647us/step - loss: 0.5060 - accuracy: 0.7756
Epoch 13/15
303/303 [==============================] - 0s 689us/step - loss: 0.4761 - accuracy: 0.7822
Epoch 14/15
303/303 [==============================] - 0s 610us/step - loss: 0.5318 - accuracy: 0.7888
Epoch 15/15
303/303 [==============================] - 0s 625us/step - loss: 0.4668 - accuracy: 0.7855

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                140
_________________________________________________________________
dense_1 (Dense)              (None, 10)                110
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 261
Trainable params: 261
Non-trainable params: 0
_________________________________________________________________

In [19]:
inputs = {key: tf.keras.layers.Input(shape=(), name=key) for key in df.keys()}
print("inputs.keys() =======>", list(inputs.keys()))
print("inputs.values() ---->", list(inputs.values()))

x = tf.stack(list(inputs.values()), axis=-1)
print("x:", x)
print("x shape:", x.shape)

x = tf.keras.layers.Dense(10, activation='relu', name="one")(x)
output = tf.keras.layers.Dense(1, activation='sigmoid', name='two')(x)

model_func = tf.keras.Model(inputs=inputs, outputs=output)

model_func.compile(optimizer='adam',
                   loss='binary_crossentropy',
                   metrics=['accuracy'])

inputs.keys() =======> ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']
inputs.values() ----> [<tf.Tensor 'age:0' shape=(None,) dtype=float32>, <tf.Tensor 'sex:0' shape=(None,) dtype=float32>, <tf.Tensor 'cp:0' shape=(None,) dtype=float32>, <tf.Tensor 'trestbps:0' shape=(None,) dtype=float32>, <tf.Tensor 'chol:0' shape=(None,) dtype=float32>, <tf.Tensor 'fbs:0' shape=(None,) dtype=float32>, <tf.Tensor 'restecg:0' shape=(None,) dtype=float32>, <tf.Tensor 'thalach:0' shape=(None,) dtype=float32>, <tf.Tensor 'exang:0' shape=(None,) dtype=float32>, <tf.Tensor 'oldpeak:0' shape=(None,) dtype=float32>, <tf.Tensor 'slope:0' shape=(None,) dtype=float32>, <tf.Tensor 'ca:0' shape=(None,) dtype=float32>, <tf.Tensor 'thal:0' shape=(None,) dtype=float32>]
x: Tensor("stack:0", shape=(None, 13), dtype=float32)
x shape: (None, 13)

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                140
_________________________________________________________________
dense_1 (Dense)              (None, 10)                110
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 261
Trainable params: 261
Non-trainable params: 0
_________________________________________________________________

* **与 tf.data 一起使用时，保存 pd.DataFrame 列结构的最简单方法是将 pd.DataFrame 转换为 dict ，并对该字典进行切片。**

In [21]:
dict_slices = tf.data.Dataset.from_tensor_slices((df.to_dict('list'), target.values)).batch(16)

In [ ]:
for dict_slice in dict_slices.take(1):
    print (dict_slice)